In [1]:
import hkvsobekpy as hkv
bui = hkv.read_bui("bui-bestanden/CKT10.bui")
bui.head(2)

                     Station1  Station2
2013-01-01 00:00:00    0.0052  0.003707
2013-01-01 00:30:00    0.0052  0.003707

In [2]:
import pandas as pd
lat = pd.read_csv("LATERAL.DAT", sep=" ", header=None, usecols=[2,14,19], names=["id", "station", "area"])
lat = lat.dropna(subset=['area'])
lat.id = lat.id.str.replace("'", "").str[3:]
lat.station = lat.station.str.replace("'", "")
lat.head(2)

            id   station          area
0  VA00030_178  Station2  2.438155e+06
1  VA00030_230  Station2  1.099188e+06

In [3]:
import geopandas as gpd
afwatereenh = gpd.read_file("shp/afwatereenheden.shp")
afwatereenh = afwatereenh[afwatereenh.node != 999]
afwatereenh.head(2)

,OBJECTID,GPGIDENT,GAFIDENT,GAFNAAM,GPG_BRON,GPG_DATUM,COMPWAT,XCOORD,YCOORD,STUDIEGEBI,...,SOURCE,WINTERPEIL,ZOMERPEIL,GEBIED,GPGNAAM,GPG_CODE,SHAPE_AREA,SHAPE_LEN,node,geometry
2058,2418,VA00030_230,VA00030_230,None,None,None,0.0,82840.872834,392621.738124,CRUKRE,...,None,0.0,0.0,None,None,None,0.0,0.0,9,"POLYGON ((82728.404 392975.508, 82801.120 3929..."
2059,2419,VA00030_231,VA00030_231,None,None,None,0.0,82871.246028,393303.134732,CRUKRE,...,None,0.0,0.0,None,None,None,0.0,0.0,9,"POLYGON ((82728.404 392975.508, 82738.003 3929..."

In [4]:
nodes = gpd.read_file("shp/nodes.shp")
nodes.head(2)

   Id                      geometry
0   0  POINT (84299.729 389835.483)
1   1  POINT (84472.968 390331.400)

In [30]:
calc = afwatereenh.merge(lat, left_on="GPGIDENT", right_on="id")
calc = pd.DataFrame(calc.groupby(['node', 'station'])['area'].sum()).reset_index()
calc

    node   station          area
0      0  Station2  1.505015e+07
1      1  Station2  4.191145e+06
2      2  Station2  2.113435e+07
3      3  Station2  1.439533e+07
4      4  Station2  1.945805e+07
5      5  Station2  6.251454e+06
6      6  Station2  4.792641e+07
7      7  Station1  2.394231e+06
8      7  Station2  9.627051e+05
9      8  Station1  4.523919e+06
10     8  Station2  1.692528e+07
11     9  Station1  2.515311e+06
12     9  Station2  4.448271e+07
13    10  Station1  9.622866e+06
14    10  Station2  5.824054e+06
15    11  Station1  3.845528e+06
16    11  Station2  1.400364e+07